
<div class="row">
  <div class="col-sm-12 text-xs-center bootstrap-welcome">
    <h3 class="section-title text-center m-5">Welcome <%= current_user.email %></h3>
    <p><%= link_to 'Edit Profile', edit_user_registration_path(current_user) %></p>
    <p><%= link_to 'Create Leave Request', new_leave_request_path %></p>
    <p><%= link_to 'Logout', eval("destroy_#{current_user.type.downcase}_session_path"), method: :delete %></p>

  </div>
</div>
